* {
    margin: 0; 
    padding: 0; 
    font-size:100%; 
    border: none; 
    outline: none; 
    font-weight: 300; 
    box-sizing: border-box;
}

.top-header-container{
    background-color: #1E1D24;
    color: #95918D;
    padding: 3px;
}

.grid-infos-container{
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: 200px 200px 200px 400px 200px;
    padding: 12px;
    font-size: 13px;
}

.grid-infos-item{
    text-align: center;
}

.grid-infos-item:nth-child(5){
    color: darkgoldenrod;
}

.grid-infos-item:nth-child(5):hover{
    color: white;
    transition: 0.5s;
}

.my-nav{
    position: absolute !important;
    width: 100%;
    z-index: 999;
    background: transparent !important;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #95918D;
    padding: 30px 45px;
}

.nav-link{
    text-decoration: none;
    color: #fff;
    font-size: 1.2em;
    font-weight: bold;
}

.nav-link:hover{
    color: goldenrod;
    transition: 0.5s;
}

.navbar-nav {
    padding-right: 20%;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.carousel-indicators > .active{
    background-color: goldenrod;
}

.carousel-caption{
    bottom: 30% !important;
    font-family: Montserrat, sans-serif;
}

.carousel-caption > h1{
    font-size: 90px !important;
    font-weight: 800 !important;
}

.carousel-caption > h2{
    font-size: 62px !important;
    font-weight: 800 !important;
    text-transform: capitalize !important;
}

.carousel-caption > h3{
    font-size: 16px !important;
    font-weight: 500 !important;
    text-transform: uppercase !important;
    letter-spacing: .1em !important;
    line-height: 0 !important;
    margin-top: 30px;
}

.aboutus-container{
    padding-right: 100px;
}

.aboutus-grid{
    display: grid;
    grid-template-columns: auto 50%;
    padding-top: 50px;
    font-size: 13px;
    justify-content: center;
    align-items: center;
}

.aboutus-photo > img{
    max-height: 100%;
    object-fit: cover;
    width: 100%;
}

.aboutus-text > h4{
    font-size: 16px;
    letter-spacing: 2.9px;
    text-transform: uppercase;
    color:#cacece;
}

.aboutus-text > h3{
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 1.344;
    font-family: Montserrat, sans-serif;
    letter-spacing: 0em;
    text-align: inherit;
    color:#20202c;
}

.aboutus-text > h5{
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.64;
    font-family: Montserrat, sans-serif;
    letter-spacing: 0em;
    text-align: inherit;
    color:#20202c;
}

.aboutus-text > p{
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 2.2;
    font-family: Montserrat, sans-serif;
    letter-spacing: 0em;
    text-align: left;
    color:#959595;
}

.btn-warning{
    color: #fff !important;
    padding: 10px 25px !important;
    border-radius: 0% !important;
}